[Unit]
Description=Run Discord reminder check every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=discord-reminder-send.service

[Install]
WantedBy=timers.target
